
<div class="content">

    <div class="element eat">
      <h3>What do you want to eat</h3>
      <div class="items">
        <button (click)="Eat(5,5)">
          <h4>Bread</h4>
          <span>5% health</span>
          <span>5$</span>
        </button>
        <button (click)="Eat(15,10)">
          <h4>Soup</h4>
          <span>15% health</span>
          <span>10$</span>
        </button>
        <button (click)="Eat(25,15)">
          <h4>Steak</h4>
          <span>25% health</span>
          <span>15$</span>
        </button>
      </div>

    </div>
    <div class="element sleep">
      <h3>How long do you want to rest</h3>
      <div class="items">
      <button (click)="sleep(1)">
        <h4>1 hour</h4>
        <img src="/assets/images/sleepIcon.png" alt="">
      </button>
      <button (click)="sleep(3)">
        <h4>3 hours</h4>
        <img src="/assets/images/sleepIcon.png" alt="">
      </button>
      <button (click)="sleep(8)">
        <h4>8 hours</h4>
        <img src="/assets/images/sleepIcon.png" alt="">
      </button>
      </div>
    </div>
</div>


