.content {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  width: 1112px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url('../../../assets/images/tavern.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 6px;
  color: #fff;
  position: relative;
  overflow: hidden;
  .food{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgba(30, 24, 24, 0.8);
    border: 3px solid #fff;
    margin: 0;
    padding: 20px 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }
    
  }
}
