<div class="quest-background"></div>

<div class="content">

  <div class="newQuests">

    <div class="quest" *ngForOf="let quest of quests">
      <h3>{{quest.name}}</h3>
      <p [ngClass]="{'showDesc':quest.name === descToShow}">{{quest.description}}<span *ngIf="descToShow != quest.name" [ngClass]="{'hide':quest.name === descToShow}" (click)="showDescOnMobile(quest)">?</span></p>

      <div class="requirements">
        <h4>Requirements:</h4>
        <div class="requirement">
        <span class="single-req" *ngFor="let req of quest.requirements | keyvalue">
          <span>{{req.key}}: </span>
          <span>{{req.value}}</span>
        </span>
        </div>
      </div>
      <div class="info">
        <span>{{quest.time}} min</span>
        <span>{{quest.reward}} gold </span>
        <span>{{quest.exp}} exp</span>
      </div>
      <div class="accept-button">
        <button (click)="acceptQuest(quest)">Accept</button>
      </div>
    </div>

  </div>

</div>
