<div class="content">

  <div class="questsList">
    <div class="activeQuests">
      <h1>Active Quests</h1>
      <ul>
        <li>qeqdqqdqdw</li>
        <li>afasdfgdfgd</li>
        <li>jghjgjghjghj</li>
        <li>hdfhdhdfh</li>
      </ul>
    </div>

    <div class="completedQuests">
      <h1>Completed Quests</h1>
      <ul>
        <li>qeqdqqdqdw</li>
        <li>afasdfgdfgd</li>
        <li>jghjgjghjghj</li>
        <li>hdfhdhdfh</li>
      </ul>
    </div>

    <div class="failedQuests">
      <h1>Failed Quests</h1>
      <ul>
        <li>qeqdqqdqdw</li>
        <li>afasdfgdfgd</li>
        <li>jghjgjghjghj</li>
        <li>hdfhdhdfh</li>
      </ul>
    </div>

  </div>
</div>
