.map{
  background: url('../../assets/images/game-map2.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.container{
  display: flex;
  padding: 2px;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button{
    width: 100%;
    height: 10%;
    border: none;
    box-shadow: 0 0 5px 5px #000;
    color: #fff;
    background: rgb(30, 24, 24) no-repeat;
    border-radius: 6px;
    font-size: 1.2rem;
    text-align: left;
    padding: 0 10px;
    margin: 2px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    transition: ease-in-out .2s;
    cursor: pointer;
    &:hover{
      color: #c0a617;
      background: rgba(0, 0, 0, 0.8);
      transform: translate(0, -2px);
    }
  }
  .active{
    color: #c0a617;
    background: rgba(0, 0, 0, 0.8);
    transform: translate(0, -2px);
  }
}
.game-container {
  margin: 2px 1vw;
  border-radius: 6px;
  width: 100%;
  max-width: 1200px;
  height: 65vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 5px #000;
  border: 2px solid #000;
  background: rgb(30, 24, 24) no-repeat;
}

.progress-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (max-width:1280px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    .menu {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      button{
        flex-grow: 1;
        flex-basis: 30%;
        padding: 1vh;
        margin: 1vh;
      }
    }
  }
  .game-container {
    margin: 0 auto;
    border: 0;
    border-radius: 6px;
    width: 98%;
    height: 75vh;
  }
  .header{
    display:flex;
    justify-content: right;
  }

}
