
.main{
  padding: 0;
  margin:1.5rem 0 0;
  aspect-ratio: 15/10;
  width: min(1280px,100vw);
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  border: 3px solid #000;
  box-shadow: 0 -10px 5px #ccc;
  border-bottom: none;
  border-top: none;
  z-index: 2;
  background: linear-gradient(180deg,  rgba(0,0,0,0) ,rgba(0,0,0, 1));
}
.mainBg{
  z-index: -1;
  background: url('/assets/images/game-map2.jpg') center center no-repeat;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter:brightness(0.2);
}
.footer{
  box-shadow: 0 -5px 5px #ccc;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1280px,100vw);
  height:2.5rem;
  background: linear-gradient(180deg, rgba(38, 37, 37, 0.66) 0%, rgba(0,0,0,0) 100%);
  text-align: center;
  color: #000;
  border: 3px solid #000;
  border-bottom: none;
  border-top: none;
}
