.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.main{
  height: 100%;
  width: calc(100% - 40px);
  padding: 90px 20px;
}
